<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APPLY</title>
</head>
<!--TOS-->
<body>
    <style>
        .TOS_boxed {border : 1px solid}
        .boxing{border :1px solid; margin-bottom:10px;}
        .cal{position:relative; left:400px; bottom:170px;}

    </style>
    <header>
        
    </header>
    <h3>NOTICE</h3>
    <div class = "TOS_boxed">
       1. etc etc etc
       2. 블라블라블라
       3. 개인정보 사용 약관
       4. 더 추가 내용
    </div>
    <p>더 필요하신 내용은 QNA 페이지를 방문해주세요.</p>


    <div>
        <h3>신청란</h3>

        <div class = "boxing">
            <h4>인증방법</h4>
            <input type="radio" name="confirm" value="1" checked="checked">1365 인증칸 <br>
            <br>
            <input type="radio" name="confirm" value="2"  > 개인정보기입 <br> 
        </div>
    
        
        <div class = "boxing">
            <H4>횟수</H4>
            <input type="radio" name="confirm1" value="1">주기적 <br>
            <br>
            <input type="radio" name="confirm1" value="2"  > 1회 <br> 
            <BR>
            <input type="radio" name="confirm1" value="3"  > 예약 <br>
        
        <div class ="cal">
            <h4>원하는 날짜</h4>
            <form id="calender" action="action.jsp">
                <div><input type="date" id="userdate" name="userdate"></div>
            </form>
        
        </div>
        <div>
            <a href="{% url 'list'%}"><button>다음</button></a>
        </div>

        
    </div>
</body>