<!-- ohjinjin, 프론트분들 수정 부탁드려용 우선 불편하실까봐 링크 쭉 걸어두겠습니다.-->
index.html test page
<br>

<Style>
    
    .volun{
        font-size : 20px; margin:0; width:50%; height:50px; text-align:center;
    }
    .mis{
        font-size : 20px; margin:0; width:50%; height:50px; text-align:center;
    }

</style>

##<a class="about" href="{% url 'about' %}">ABOUT</a>
<br>
<br>
<a href="{% url 'vr_index' %}"><button class="volun">자원봉사자 페이지</button></a>
<br>
<br>
<a href="{% url 'ms_index' %}"><button class="mis" >시각장애인 페이지</button></a>
<br>
