<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style type="text/css">
        .copyright {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            background: rgb(231, 231, 231);
            position: static;
        }

        #black {
            color: rgb(156, 156, 156);
        }
    </style>
</head>


<body>
    vr 마이페이지 입니다
    <p>마일리지 적립</p>
    <p>60분 단위로 1시간 적립 가능. 시간 단위로 입력해주세요</p>
    <p>가지고있는 시간(분)</p>
    {{frommile}}
    <p>변환가능한 시간(시간)</p>
    {{canmile}}
    <p>봉사시간</p>
    {{realmile2}}
    <form method="POST" action="{% url 'transmile' %}">
        {% csrf_token %}
        {{error}}
        <br>
        <div class="form-group row">
            <input type="text" class="form-control" name='wanttomile' id="wanttomile" placeholder="마일리지(시간)">
            <input type="submit" class="btn btn-custom btn-lg page-scroll" value="변환">
        </div>
    </form>
    <div id="black" class="copyright text-center py-3">&copy; 2019 MINDSHARE. ALL RIGHTS RESERVED.
    </div>
</body>

</html>