<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<style type="text/css">
    .copyright {
        position:absolute;
        bottom:0;
        width:100%;
        height:30px;   
        background: rgb(231, 231, 231);
        position: static;
    }

    #black{color: rgb(156, 156, 156);}
</style>
</head>


<body>
 <!--내용은 맞게 수정해주세요-->
vr 마이페이지 입니다
<p>마일리지 적립</p>
<p>60분 단위로 1시간 적립 가능. 시간 단위로 입력해주세요</p>

<div id = "black" class="copyright text-center py-3">&copy; 2019 MINDSHARE. ALL RIGHTS RESERVED.
</div>
</body>
</html>