Q. {{question.question_title}}<br>
작성일:{{question.pub_date}}<br>
내용: {{question.question_content}}<p>
{% comment %} {{question.update_counter}}
조회수{{question.question_visit}} {% endcomment %}
</p>
<!--본인만 수정/삭제 가능하도록 추가해야될것 같아요-->
<p><a href="{% url 'delete' question.id%}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
<p><a href="{% url 'modify' question.id%}">수정</a></p>
<!--댓글 기능-->
{% comment %}
<hr>
{% for comment in question.comments.all %}
<div class="comment">
    <div class="date">{{ comment.comment_date }}</div>
    <p>{{ comment.comment_contents }}</p>
</div>
{% empty %}
<p>No comment here yet</p>
{% endfor %} 

<form action="{% url 'comment_write' question.pk %}" method = "POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="Write your comments">
    <input type="submit" value="Write" />
</form> {% endcomment %}

