<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APPLY</title>
</head>
<!--"class"
    helping = QnA게시판 
-->
<body>
<style>
.helping {border : 1px solid; margin-bottom:10px;}
.notice {border : 1px solid; margin-bottom:5px; margin-right:10px; margin-left:10px;}
.question { border : 1px solid; margin-bottom:10px; margin-right:10px; margin-left:10px;}
</style>

<!-- 한울- helping게시판에 약관을 넣는건 중복인것 같은데 빼는게 낫지 않을까요?-->
<div class="helping">
    <h2>약관, 공지사항</h2>
    <div class="notice">
    <!-- 내용들-->
    </div>
</div>

<div class="helping">
    <h2>자주 물어보는 질문</h2>
    <div class="question">
    Q.
    <br>
    A.
    </div>
    <div class="question">
    Q.
    <br>
    A.
    </div>
    <div class="question">
    Q.
    <br>
    A.
    </div>
</div>
    
<div class="helping">
    <h2>요청받은 질문들</h2>
    <div class="ques_list">
    <!-- 내용들-->
    </div>
</div>
</body>