<html lang="ko">
<head>
<style>
.table_list{
    border-color:black;
    width:800; height:500;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid black;
    padding: 15px;
}
.table_title{
    background-color:pink;
}
.total_list{
    background-color:pink;
    text-align:center;
}
.contain_list{text-align:center; background-color:gray;}
.buttons{text-align: center;}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIST</title>
</head>

<body>
    <h1 class="total_list">전체 목록</h1>
    
    <table class="table_list" >
        
        <thead class="table_title">
        <tr>
            <th>STATE</th>
            <th>BOOK LIST</th>
            <th>AUTHOR</th>
            <th>APPLY NUM</th>
        </tr>
        </thead>
        
        <tbody class="contain_list">
        
            {% for wbook in wbooks%}            
            <tr>
                {%if wbook.state == 0%}
                <td><p style = "background-color: green">녹음대기중</td>
                {%elif wbook.state == 1 %}
                <td><p style = "background-color: yellow">녹음중</td>
                {%elif wbook.state == 2 %}
                <td><p style = "background-color: red">녹음완료</td>
                {%endif%}
                <td>{{wbook.title}}</td>
                <td>{{wbook.author}}</td>
                <td>{{wbook.id}}</td>
            </tr>
            {%endfor%}
       </tbody>
    </table>
    <div class="buttons">
    <a href="{%url 'ms_index'%}"><button>돌아가기</button></a>
    <a href="{%url 'mybooks'%}"><button>나의 도서</button></a>
    <a href="{%url 'ms_library'%}"><button>음성 도서관</button></a>
    <a href="{%url 'listening'%}"><button>늑음듣기</button></a>
    </div>
</body>
</html>