
<html lang="ko">


<head>
<style>
.table_list{border:1px; border-color:blue; width:500; height:300; text-align:center;}
.total_list{background-color:blue; text-align:center;}
.contain_list{text-align:center; background-color:skyblue;}
</style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIST</title>
</head>

<body>
    {% block contents %}

    <table class="table_list">
        <tr class="total_lsit">
            <p><td colspan = "3" span style="color:white">전체 목록</td></p>
        </tr>

        {% for list in list.all %}
        <tr contain_list>
            <a href="{% url 'ms_index' %}"><td>{{list.state}}</td></a> <!--매칭대기 / 녹음대기 / 매칭중 / 녹음중 / 완료-->
            <a href="{% url 'ms_index' %}"><td>{{list.name}}</td></a><!--허생전 박지원-->
            <a href="{% url 'ms_index' %}"><td>{{list.number}}</td></a><!--도서번호 A10210-->
        </tr>
        {% endfor %}
    </table>
    
    <input type="button" class="btn btn-primary" name="MYBOOK" href="{% url 'ms_index'%}"value = "나의 도서" >
    <input type="button" class="btn btn-primary" name="MATCH" href="{% url 'ms_index'%}" value = "연결">
    <input type="button" class="btn btn-primary" name="RECORDL" href="{% url 'ms_index'%}" value = "녹음 듣기">

{% endblock %}
    
</body>
</html>