희망도서를 신청하는 페이지입니다.
<!--
    서명, 저자, 출판사 이름, 발행년도, 
-->>
{% load staticfiles %}

<style>

</style>

<header>

</header>

<form action="{% url 'create' %}">
        도서명:<br>
        <input type="text" name="book_name"><br>
        저자:<br>
        <input type="text" name="book_author"><Br>
        출판사이름:<br>
        <input type="text" name="book_publish"><Br>
        발행년도:<br>
        <input type="text" name="book_year"><Br>    
        <input class="button" type="submit" value="제출하기">
</form>

<!--의준 :: 다음을 누르면 "신청되었습니다"창이 뜬후에 index로 넘어가게 해주세용-->
<div>
    <a href="{% url 'ms_index'%}"><button>돌아가기</button></a>
</div>